<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/general.css}" rel="stylesheet type="text/css"" />
    <link th:href="@{/tables.css}" rel="stylesheet type="text/css"" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    
    <div th:insert="navbar :: navbar">  </div>
</head>
<body>
        <h1>Current routes:</h1>
        <div class="container" style="display: flex;">
            
            <table cellpadding="0" cellspacing="0" border="0">
                    <thead class="tbl-header">
                      <tr>
                        <th>Route name:</th>
                        <th>Route price (Kn):</th>
                        <th>Action:</th>
                    </thead>

                    <th:block th:each="route : ${routes}" >
                        <tbody class="tbl-content">
                            <td th:text="${route.route_name}">Route name</td>
                            <td th:text="${route.route_price}">Route price</td>
                            <td><a th:href="@{http://localhost:8080/employee/deleteRoute/{ID}(ID = ${route.route_id})}" class="btn btn-danger">Delete</a>
                                 <a th:href="@{/employee/updateRoute/{ID}(ID = ${route.route_id})}" class="btn btn-primary">Update</a></td>
                        </tbody>
                    </th:block>        
            </table>
        
            <div class="container text-center" style="flex-grow: 4"; width = "1000px">
                <p1>Add route:</p1>
                <form th:action="@{/employee/processAddRoute}" th:object="${newRoute}"
                    method="put" style="max-width: 600px; margin: 0 auto;">
                    
                    <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" style="margin-left: 4px">Route starting point: </label>
                        <select th:field="*{Start}" class="form-control" required>
                            <th:block th:each="city : ${citys}" >
                                <option th:text = "${city.city_name}" th:value ="${city.city_name}"/>
                            </th:block>
                        </select>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Route destination: </label>
                        <select th:field="*{Destination}" class="form-control" required>
                            <th:block th:each="city : ${citys}" >
                                <option th:text = "${city.city_name}" th:value ="${city.city_name}"/>
                            </th:block>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Route price (Kn): </label>
                        <div class="col-8">
                            <input type="number" min="0" th:field="*{Route_price}"  required class="form-control">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Add route!</button> 
                    </div>
                </div>
                </form>
            </div>
        </div>
   
</body>
<footer>
  <p>For any questions contact our support:<br>
  <a href="mailto:support@gmail.com" style="color: #007bff">Support e-mail!</a></p>
</footer>
</html>
