<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/index.css}" rel="stylesheet type="text/css"" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    
    <div th:insert="navbar :: navbar">  </div>
</head>
<body>
    <div class="container text-center">
        <form th:action="@{/user/processResetPassword}" th:object="${newProfile}"
            method="put" style="max-width: 600px; margin: 0 auto;">
            <p style="color: red">Failed!! PASSWORD is SAME AS OLD ONE!!</p>
            <div class="form-group row">
                <label class="col-4 col-form-label">New password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="6" maxlength="10"/>
                </div>
            </div>
            <div>
                <a th:href="@{/user/myProfile}" class="btn btn-info">Cancel</a>
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </form>
        </div>
    </div>

</body>

<footer>
    <div sec:authorize="isAuthenticated()">
        <p>For any questions contact our support:<br>
        <a href="mailto:support@gmail.com" style="color: #007bff">Support e-mail!</a></p>                  
    </div>
</footer>
